/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* { box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
  position: relative;
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}

.filtres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.container-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
}

.edit {
 display: none;
}

.header-edit {
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

.button-edit {
  border-radius: 20px;
  padding: 7px 20px;
  margin-left:10px ;
  font-size: 0.9rem;
}

.modal {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /*au cas ou d'autres élements sont fixed*/
  background-color: rgba(0,0,0,0.8);
}

.modal-wrapper {
  position: relative;
  width: 800px;
  padding: 20px;
  overflow: auto;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  border-radius: 20px;
  background-color: white;
}

.modal-wrapper > h2 {
  margin: 40px auto;
  text-align: center;
  font-family: 'Work Sans';
  color: black;
  font-weight: 400;
}

.hide-modal {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 28px;
  background: none;
  border: none;
}

.edit,
.hide-modal,
.modal-wrapper > .button,
.gallery-edit figure {
  cursor: pointer;
}

.line {
  height: 2px;
  width: 80%;
  margin: auto;
  background-color: #B3B3B3;
}

.modal-wrapper > .button, a {
  display: block;
  margin: 40px auto;
}

.modal-wrapper > a {
  text-decoration: none;
  font-family: 'Syne';
  text-align: center;
  color: #D65353;
}

figure span {
  display: inline-block;
  margin : 10px 0 0 10%;
}

article span {
  position: absolute;
  top : -40px;
}

.button {
  border-radius: 20px;
  padding: 7px 20px;
  font-size: 1rem;
  font-family: 'Syne';
  border: solid 2px #1D6154;
  color: #1D6154;
  background-color: white;
}

li:hover {
  cursor: pointer;
}

.button-selected {
  color: white;
  background-color: #1D6154;
  }

.button:hover {
  color: white;
  background-color : #0E2F28;
  border-color: #0E2F28;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery-edit {
  width: 80%;
  grid-template-columns:repeat(5,1fr);
  margin: 50px auto;
}

.fa-container {
  display: none;
  position: absolute;
  top: 7px;
  right: 5px;
}

.fa-container > :nth-child(1) {
  display: none;
}

.gallery-edit .fa-container {
  display: inline-block;
}

.gallery-edit figure {
  transition: transform 0.2s ease-in-out;
}

.gallery-edit figure:hover nav button:nth-child(1) {
  display: inline-block;
}

.gallery-edit figure:hover {
  transform: scale(1.2);
}

.icon-button {
  margin-left: 5px;
  border: none;
  border-radius: 2px;
  color: white;
  background: black;
  cursor: pointer;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
  margin: auto;
}

.login {
	width: 30%;
  margin: 100px auto;
}

#contact, 
.login > * {
	text-align: center;
}

#contact h2,
.login h2 {
	margin-bottom: 20px;
}

#contact form,
.login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, 
.login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
.login label {
	margin: 2em 0 1em 0;
}

.login a {
  text-align: center;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

